<div id="event-list" class="box">
  <article class="panel is-primary">
      <p class="panel-heading .has-text-centered">
          Active Events:
      </p>
      <br>
      <aside class="menu">
          <ul class="menu-list">
              {{#each dbEvents}}
              <div class="box">
                  <li data-id={{dataValues.id}} data-lat={{dataValues.lat}} data-lng={{dataValues.lng}}>
                      <div class="content is-small">
                          <h2>{{dataValues.title}}</h2>
                          <p>{{dataValues.description}}</p>
                          <a style='cursor:pointer;color:green' class='map-donation'>Show on Map</a></td>
                          <a style='cursor:pointer;color:red' class='delete-event'>Delete Event</a></td>
                      </div>
                  </li>
              </div>
              {{/each}}
          </ul>
      </aside>
  </article>
</div>

<script src="assets/js/eActive.js"></script>
<script src="assets/js/map.js"></script>