<div id="event-list" class="box">
    <article class="panel is-primary">
        <p class="panel-heading">
            List of all charity events:
        </p>
        <br>
        <aside class="menu">
            <ul class="menu-list">
                {{#each events}}
                <div class="box">
                    <a>
                        <li data-id={{this.id}} data-charityId={{this.charityId}} data-lat={{dataValues.lat}} data-lng={{dataValues.lng}}>
                            <div class="content is-small">
                                <h2>{{this.title}}</h2>
                                <p>{{this.description}}</h2>
                                {{!-- <a style='cursor:pointer;color:green' class='map-donation'>Show on Map</a></td> --}}
                            </div>
                        </li>
                    </a>
                </div>
                {{/each}}
            </ul>
        </aside>
    </article>
</div>
<div id="event-details" class="box is-hidden">
    <article class="panel is-primary">
        <p class="panel-heading">
            Event details:
        </p>
        <br>
        <div class="field is-horizontal">
            <div class="field-body">
                <div class="field">
                    <div class="content is-medium">
                        <h2 id="ename" style="padding-left:20px"></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Description</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p id="edescription"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Charity details</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p id="cname"></p>
                </div>
            </div>
        </div>    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label"></label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p id="cdescription"></p>
                </div>
            </div>
        </div>         
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Contact details</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p id="email"></p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label"></label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p id="phnumber"></p>
                </div>
            </div>
        </div>
        <div class="columns is-centered is-vcentered">
            <div class="column"></div>
            <div class="column is-narrow">
                <button id="backBtn" class="button is-primary is-vcentered" style="text-align:center">
                    Go Back
                </button>
            </div>
            <div class="column"></div>
        </div>
        <br>
    </article>
</div>

{{!-- {{#section 'script'}} --}}

<script type="application/javascript" src="assets/js/listEvent.min.js"></script>
<script src="assets/js/map.min.js"></script>

{{!-- {{/section}} --}}